<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="../images/logo.png" class="d-inline-block align-top" alt="תל חי מרקט">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      -->


            <li class="nav-item">
                <a class="nav-link" href="/products">
                    <i class="fas fa-shopping-bag"></i> המוצרים שלנו
                </a>
            </li>
        

            <li class="nav-item">
                <a class="nav-link" href="/shopping-cart">
                    <i class="fas fa-shopping-cart"></i> עגלת קניות
                    <span
                        class="badge badge badge-success {{# greaterThan session.cart.totalQty 0}}{{/greaterThan}}">
                        {{ session.cart.totalQty }}
                    </span>
                </a>
            </li>

    {{!--           <li class="nav-item">
                <a class="nav-link" href="/#">
                    <i class="fas fa-at"></i> יצירת קשר
                </a>
            </li> --}}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> ניהול משתמש
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{# if login }}
                    <a class="dropdown-item" href="/user/profile">ניהול חשבון</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/user/logout">התנתק</a>
                    {{ else }}
                    <a class="dropdown-item" href="/user/signin">התחברות</a>
                    <a class="dropdown-item" href="/user/signup">הרשמה</a>
                    {{/if}}
                </div>
            </li>

            
            {{#if admin }}
            <li class="nav-item">
                <a class="nav-link" href="/admin/orders">
                  <i class="fas fa-tools"></i>  פאנל ניהול אדמין
                </a>
            </li>
           {{/if}}
            <!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      -->
        </ul>
    </div>
</nav>